<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="mailID" value="ashwin@uberprojects.com"/>
      <add key="subject" value="Solar Meter Reading"/>
      <add key="message" value="Test"/>
    </appSettings>
</configuration>